body {
    background-color:rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

#felulet {
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
        
}

button {
    border: 2px solid black;
    border-radius: 10px;
    height: 298px;
    width: 98px;
    box-shadow: 5px 5px 20px white;
    font-size: 32px;
}

#tarolo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 298px;
    width: 298px;
    background-color: #5efad8;
    border: 2px solid black;
    box-shadow: 5px 5px 20px white;
    border-radius: 50%;
    font-size: 64px;
    margin: 0px 5px;
}